@model IEnumerable< Posh_TRPT_Models.DTO.RoleMenuDTO.RoleMenuDTO>


@inject Posh_TRPT_Services.RoleMenu.RoleMenuService  roleService
<div class="sidebar">


    <div class="header text-center py-3">
        <!--------Posh Logo-  -->
        <img src="~/Images/image 6.svg" alt="" height="60px" width="auto">
    </div>

    <div class="tabs   text-center d-flex flex-column">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="ps list-unstyled menu-categories ps--active-y side-main-list">
            @{
                
            }
            @if (User.Identity!.IsAuthenticated)
            {

                var result = (await roleService.GetMenuMaster().ConfigureAwait(false)).Data!.ToList();





                foreach (var Menu in result.Where(s => s.Parent_MenuID == "*"))
                {
                    if (Menu.MenuURL != null)
                    {
                        <li class="menu  p-2 my-2 btn w-100">
                            <b></b>
                            <b></b>
                            <a class="menuHeader" asp-controller="@Menu.MenuURL" asp-action="@Menu.MenuFileName" title="@Menu.MenuName" style="text-decoration: inherit;" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"
                                fill="none">
                                <path
                                    d="M0 7.14237V0H7.11111V7.14237H0ZM0 16.0703V8.92796H7.11111V16.0703H0ZM8.88889 7.14237V0H16V7.14237H8.88889ZM8.88889 16.0703V8.92796H16V16.0703H8.88889ZM1.77778 5.35678H5.33333V1.78559H1.77778V5.35678ZM10.6667 5.35678H14.2222V1.78559H10.6667V5.35678ZM10.6667 14.2847H14.2222V10.7136H10.6667V14.2847ZM1.77778 14.2847H5.33333V10.7136H1.77778V14.2847Z"
                                    fill="#501872" />
                            </svg><span >@Menu.MenuName</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="menu accordian   p-2 my-2 btn w-100">
                            <b></b>
                            <b></b>
                            <a href="#" class="menuHeader" title="@Menu.MenuName" style="text-decoration: inherit;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13"
                                viewBox="0 0 16 13" fill="#501872">
                              
                                <path
                                    d="M15.3846 0H0.615385C0.452174 0 0.295649 0.0648351 0.180242 0.180242C0.064835 0.295649 0 0.452174 0 0.615385V11.0769C0 11.4033 0.12967 11.7164 0.360484 11.9472C0.591298 12.178 0.904349 12.3077 1.23077 12.3077H14.7692C15.0957 12.3077 15.4087 12.178 15.6395 11.9472C15.8703 11.7164 16 11.4033 16 11.0769V0.615385C16 0.452174 15.9352 0.295649 15.8198 0.180242C15.7044 0.0648351 15.5478 0 15.3846 0ZM1.23077 4.92308H4.30769V7.38462H1.23077V4.92308ZM5.53846 4.92308H14.7692V7.38462H5.53846V4.92308ZM14.7692 1.23077V3.69231H1.23077V1.23077H14.7692ZM1.23077 8.61538H4.30769V11.0769H1.23077V8.61538ZM14.7692 11.0769H5.53846V8.61538H14.7692V11.0769Z"
                                    fill="none" />
                            </svg>
                                <span  >@Menu.MenuName</span>
                            </a>
                            <ul class="ps list-unstyled  accordian-part  ps--active-y">
                                @foreach (var SubMenu in result.Where(s => s.Parent_MenuID == @Menu.MenuID).OrderBy(s=>s.MenuName))
                                {
                                    <li class="menu  p-2 my-2 btn w-100">
                                        <a class="subMenuHeader" asp-controller="@SubMenu.MenuURL" asp-action="@SubMenu.MenuFileName" title="@SubMenu.MenuName" style="text-decoration: inherit;">
                                          <svg xmlns="http://www.w3.org/2000/svg"
                                        width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path
                                            d="M8 0C6.41775 0 4.87103 0.469192 3.55544 1.34824C2.23985 2.22729 1.21447 3.47672 0.608967 4.93853C0.00346614 6.40034 -0.15496 8.00887 0.153721 9.56072C0.462403 11.1126 1.22433 12.538 2.34315 13.6569C3.46197 14.7757 4.88743 15.5376 6.43928 15.8463C7.99113 16.155 9.59966 15.9965 11.0615 15.391C12.5233 14.7855 13.7727 13.7602 14.6518 12.4446C15.5308 11.129 16 9.58225 16 8C15.9975 5.87903 15.1539 3.84565 13.6541 2.3459C12.1544 0.846145 10.121 0.00249086 8 0ZM14.3976 5.01961H11.2463C10.9033 3.59717 10.2779 2.25821 9.40706 1.08235C10.4881 1.30451 11.5023 1.77619 12.3688 2.45977C13.2352 3.14335 13.93 4.01993 14.3976 5.01961ZM15.0588 8C15.0594 8.6908 14.9581 9.37791 14.7584 10.0392H11.44C11.6638 8.68895 11.6638 7.31105 11.44 5.96078H14.7584C14.9581 6.62209 15.0594 7.3092 15.0588 8ZM8 15.0588C7.98044 15.0589 7.96109 15.0549 7.94323 15.0469C7.92538 15.0389 7.90944 15.0272 7.89647 15.0125C6.88628 13.9247 6.14432 12.5278 5.72549 10.9804H10.2745C9.85569 12.5278 9.11373 13.9247 8.10353 15.0125C8.09057 15.0272 8.07462 15.0389 8.05677 15.0469C8.03891 15.0549 8.01956 15.0589 8 15.0588ZM5.51451 10.0392C5.27295 8.69047 5.27295 7.30953 5.51451 5.96078H10.4855C10.7271 7.30953 10.7271 8.69047 10.4855 10.0392H5.51451ZM0.94118 8C0.940652 7.3092 1.04187 6.62209 1.24157 5.96078H4.56C4.33619 7.31105 4.33619 8.68895 4.56 10.0392H1.24157C1.04187 9.37791 0.940652 8.6908 0.94118 8ZM8 0.941176C8.01956 0.941068 8.03891 0.945141 8.05677 0.953122C8.07462 0.961103 8.09057 0.972807 8.10353 0.987451C9.11373 2.07529 9.85569 3.47216 10.2745 5.01961H5.72549C6.14432 3.47216 6.88628 2.07529 7.89647 0.987451C7.90944 0.972807 7.92538 0.961103 7.94323 0.953122C7.96109 0.945141 7.98044 0.941068 8 0.941176ZM6.59294 1.08235C5.72214 2.25821 5.09667 3.59717 4.75373 5.01961H1.60236C2.07 4.01993 2.76476 3.14335 3.63122 2.45977C4.49769 1.77619 5.51188 1.30451 6.59294 1.08235ZM1.60236 10.9804H4.75373C5.09667 12.4028 5.72214 13.7418 6.59294 14.9176C5.51188 14.6955 4.49769 14.2238 3.63122 13.5402C2.76476 12.8566 2.07 11.9801 1.60236 10.9804ZM9.40706 14.9176C10.2779 13.7418 10.9033 12.4028 11.2463 10.9804H14.3976C13.93 11.9801 13.2352 12.8566 12.3688 13.5402C11.5023 14.2238 10.4881 14.6955 9.40706 14.9176Z"
                                            fill="color:#501872" />
                                    </svg>  <span  > @SubMenu.MenuName</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                }

            }
             else
            {
                <li class="menu active p-2 my-2 btn w-100">
                            <b></b>
                            <b></b>
                            <a class="DelAsset"  style="text-decoration: inherit;" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17"
                                fill="none">
                                <path
                                    d="M0 7.14237V0H7.11111V7.14237H0ZM0 16.0703V8.92796H7.11111V16.0703H0ZM8.88889 7.14237V0H16V7.14237H8.88889ZM8.88889 16.0703V8.92796H16V16.0703H8.88889ZM1.77778 5.35678H5.33333V1.78559H1.77778V5.35678ZM10.6667 5.35678H14.2222V1.78559H10.6667V5.35678ZM10.6667 14.2847H14.2222V10.7136H10.6667V14.2847ZM1.77778 14.2847H5.33333V10.7136H1.77778V14.2847Z"
                                    fill="white" />
                            </svg><span>Dashbord</span>
                            </a>
                        </li>
            }

        </ul>
    </div>
</div>



